<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    
    <nav class="container">
    <a href="/home">Home</a>
    <a href="/works">Rick's works</a>
    </nav>
    <h1>Here you can find everything about your boy rick</h1>

    <h2> General Information</h2>
    <div>
        Richard Paul Astley (born 6 February 1966) is an English singer, songwriter and radio personality, who has been active in music for several decades. He gained worldwide fame in the 1980s, having multiple hits including his signature song "Never Gonna Give You Up", "Together Forever" and "Whenever You Need Somebody", and returned to music full-time in the 2000s after a 6-year hiatus. Outside his music career, Astley has occasionally worked as a radio DJ and a podcaster.
    </div>

    <h2>
        Rickrolling internet phenomenon
    </h2>
    <div>
        n 2007,[73] Astley became the subject of a viral Internet meme known as rickrolling. The meme is a type of bait and switch using a disguised hyperlink that leads to the Never Gonna Give you Up music video. When victims click on a seemingly unrelated link, the site with the music video loads instead of what was expected, and in doing so they are said to have been "Rickrolled". The meme has also extended to using the song's lyrics in unexpected places. The meme gained mainstream attention in 2008 through several publicized events, particularly when YouTube used it on its 2008 April Fools' Day event.[74] Rickrolling saw a massive resurgence online in the early 2020s. In online classes on Zoom during the worldwide COVID-19 lockdown, students often rickrolled their classmates and teachers.[75] A 4K remaster of the "Never Gonna Give You Up" music video went viral in early 2021.[76][77]

Initially, Astley, who had only recently returned to performing after a 10-year hiatus, was hesitant about using his newfound popularity from the meme to further his career, but accepted the fame when he Rickrolled the 2008 Macy's Thanksgiving Day Parade with a surprise performance of the song. Since then, Astley has seen his performance career revitalised by the meme's popularity. In an interview, Astley stated that one of his favourite Rickroll videos is "BarackRoll", a rickroll featuring clips from rallies by Barack Obama during his 2008 presidential campaign, edited to make it look as though he is singing "Never Gonna Give You Up".[78][79][80][81]

Astley himself has been rickrolled a few times; in fact, the first time he was rickrolled actually pre-dated the viral phenomenon. In an interview with Larry King, Astley stated that the first time he fell for the prank was through an email his friend sent him during the early 2000s.[82] On a Reddit post in June 2020, a user claimed to have met Astley backstage when they were 12 years old, but the user posted a link to the song instead of a picture verifying the encounter. Astley later confirmed he had been tricked into clicking the link.[83][84] The post became the most upvoted post of 2020 on Reddit.[85]
    </div>
    <h2>
        Personal life
    </h2>
    <div>
        Astley has been married to film producer Lene Bausager since 2003.[86][87] They have a daughter who has a master's degree in fine art and is a garden designer.[87] Astley met Bausager when she was working as a promoter with RCA in 1987,[11] and she is now a film producer.[88] He and his wife live in the Surrey town of Molesey, and his daughter lives in Denmark.[89] He maintains a home recording studio and has a collection of guitars.[59]
    </div>
  </body>
</html>
